
#paragraf3 {

    background-color: blueviolet;

}

#paragraf2 {

    background-color: blue;

}

.paragraf5 {

    background-color: teal;
    border: 10px;
    padding: 5px;
}

#p7{
    background-color: red;
    border: 10px double yellow;
    margin: 30px;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 25px;
}

